Package: com.ahmad.betterba
Name: BetterBA
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Add remember passcode ability to Ayandeh mobile banking application
Maintainer: Ahmad
Author: Ahmad
Section: Tweaks
